<div class="container text-center">
    <h3>{{pageTitle}}</h3>
</div>

<div class="flex-row-wrap">
    {{#each model as |movie|}}
    {{!--  {{movie-item-widget id=movie.id title=movie.title overview=movie.overview posterPath=movie.poster_path }} --}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 movie-list-item">
       <div class="thumbnail">
        {{#link-to  "movie.index" movie.id}} 
        {{#if movie.poster_path }}
        <img src={{posterUrlHelper movie.poster_path}} alt={{title}}>
        {{else}}
        <img src="//placehold.it/500x750">
        {{/if}}
        {{/link-to}}
        <div class="caption">
           {{#link-to  "movie.index" movie.id}} 
           <h3>{{movie.title}}</h3>
           {{/link-to}}
           {{truncate-multiline text=movie.overview}}
           <p>
               <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a>
               <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
           </p>
       </div>
   </div>
</div>
{{else}}
<h3>There is no movie.</h3>
{{/each}}
</div>
